/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --grey-light: #e5e5e5;
  --grey-hovered: #cbc6c6;

  --main-green: #42b883;
  --main-green-hovered: #27c47d;

  --indigo: #213547;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: #476582;
  --text-dark-1: var(--white);
  --text-dark-2: #aac8e4;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--grey-light);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --primary-btn-text: var(--text-dark-1);
  --secondary-btn-hovered-bg: var(--grey-hovered);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);

    --primary-btn-text: var(--indigo);
    --secondary-btn-hovered-bg: var(--black-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
